<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro.deepak.ieee_ex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IEEE_ex"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_activity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registrationActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".calender"
            android:label="Calender"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".team_all"
            android:label="Team"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".galleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".changePassword"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>